@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
  }

form {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    margin-top: -10px;
}

form div {
    margin-top: 15px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input, select, textarea {
  box-shadow: 2px 2px 2px gray;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}